<form method="post" action="{{ path('app_constantes_vitales_delete', {'id': constantes_vitale.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ constantes_vitale.id) }}">
    <button class="btn">Delete</button>
</form>
